.card {
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #333;
}
.product-image {
  display: block;
  justify-content: center;
  margin: auto;
  object-fit: fill;
  border-radius: 2px;
  height: 200px;
  width: 150px;
}
.card h1,
.card h3 {
  display: block;
  text-align: center;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}
